.forum-container {
    margin: 30px;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.forum-container h1 {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.forum-posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forum-post {
    background-color: #2b2a2a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #f1644b;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.forum-post:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 15px #f1644b;
}

.forum-post h2 {
    margin: 0;
    color: #f1644b;
    font-size: 1.5rem;
}

.forum-post p {
    color: #bbb;
    font-size: 1rem;
    margin-top: 10px;
}

.post-author {
    font-style: italic;
    color: #ddd;
    font-size: 0.9rem;
    margin-top: 10px;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #dd8238;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #e5843b;
}